.pivot_menu .pivot_button, .pivot_menu .pivot_title{
    color: #fcfcfc;
}

.pivot_menu{
    width:100vw;
    background-color: purple;
    z-index: 10;
}
.cover{
    background:url("dog.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.bottom_left{
    position: relative;
    top: 300px;
    left:8vh;
    color: black;
}

.vert_space{
    padding-top: 12vh;
    padding-bottom: 12vh;
}

.content_padding{
    padding:16px;
}

.skill_color{
    background: crimson;
    color:white

}
.footer{
    width: 100vw;
    background-color: purple;
}

.contact_options{
    font-size: 22px;
    color: white;
    padding: 8px 16px;
}

.social_icon{
    width: 60px;
    height: 60px;
}